# Binaries
**/bin/
!vendor/premake/bin/
**bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Generated ANTLR files
antlr/.antlr/
antlr/gen/
Xias/src/antlrgen/

# Miscellaneous Files
